<h1>Add new Author</h1>
<div class="container">   
  <%= form_for @a, url: {action: :create} do |f| %>   
      <div>   
        <h3>Add author</h3>   
      </div>   
      <div>   
        <p>   
        <div>   
            <label>Author</label>
			 <%= f.text_field( :name, class:"form-control" )%>
        </div>   
      </div>   
      <div>   
        <%= f.submit @a.new_record? ? 'Create' : 'Edit' %>
      </div>   
  <% end %>   
</div>