<!doctype html>
    <html>
        <head>
            <title>Show information</title>
        </head>
        <body>
            <h1>Hello</h1>
            <h3><%= @android %></h3>
        </body>
        
    </html>